[submodule "cpmk"]
	path = cpmk
	url = git@github.com:sourcebox/cpmk.git
	branch = master
[submodule "linux"]
	path = linux
	url = git@github.com:Anstapen/linux.git
	branch = v5.15-stm32mp
[submodule "buildroot-external-st"]
	path = buildroot-external-st
	url = git@github.com:Anstapen/buildroot-external-st.git
	branch = st/2022.02
